* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}


/* Just to get a clear visibility of grid-items. */
/* .container > * {
    border: 1px solid red;
} */

.sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

    background-color:rgb(46, 172, 246);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* Dashboard */
.sidebar > .title {
    padding-top: 20px;
    font-size: 2rem;
    font-weight: 900;
    flex-direction: row;
    gap: 12px;
}

.sidebar .svgs {
    height: 1.8rem;
    filter: invert(96%) sepia(0%) saturate(17%) hue-rotate(296deg) brightness(104%) contrast(105%);
}

#home {
    height: 2.3rem;
}

.sidebar > .title img {
    height: 2.5rem;
}

.sidebar > * {
    margin-bottom: 40px;
    font-size: 1.5rem;
    font-weight: 500;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar > ul > li {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header {
    display: grid;
    grid-template-rows: 1fr 2fr; 
    grid-template-columns: 1fr;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 10px;

    overflow: visible;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px !important;
    z-index: 1;
}

.header .svgs {
    height: 2rem;
}

.header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#search-bar {
    background-color: rgb(215, 205, 205);
    border: 0;
    border-radius: 10px;
    width: 45vw;
    font-size: 1.3rem;
}

.salutation {
    font-size: 1.2rem;
    font-weight: bold;
}

.actions {
    display: flex;
    gap: 40px;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-radius: 20px;
    font-size: 1.3rem;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    font-weight: bold;  
    background-color: rgb(73, 186, 238);
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1.5fr 1fr;
    background: rgb(220, 232, 244);
}

.main-content > * {
    padding: 30px;
}

/* .main-content > div {
    border: 1px solid red;
} */

.main-content > .projects {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.projects > div {
    margin-bottom: 20px;
}

.project-list > li {
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px, inset 0.5em 0em gold;
    height: 20vh;
    padding: 20px;
    /* border: 1px solid red; */
}

.project-list {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
}

.first .pfp {
    height: 2.5rem;
}

.first {
    font-size: 1.7rem;
    font-weight: bold;
}


.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.greet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.greet-user {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
}

.greet-user .name {
    font-size: 1.5rem;
}

.profile {
    padding-top: 20px;
}

.profile .pfp {
    height: 4rem;
}

[class^="announcement-"] {
    height: 5vh;
    border: 1px solid red;
}

.projects {
    font-size: 1.5rem;
}

.projects .title {
    font-weight: 600;
}

.project-list > li > .title {
    margin-bottom: 15px;   
}